*{
  font-family: 'Century Gothic';
}

label{
  font-weight: 600;
}

.required{
  color: red;
}

.header{
  height: 60px;
  color: #fff;
  font-size: 1.5rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  background-image: linear-gradient(-225deg, #6db8eb 0%, #2e6f9b 52%, #054286cb 100%);
}

.main-img{
  padding-bottom: 10px;
}

.form{
  margin-bottom: 25px;
}

.button{
  margin-top: 20px;
  background-color: rgb(4, 99, 177);
  color: #fff;
}

.button:hover{
  color: #fff;
  background-color: #074a97;
}

.footer{
  font-family: 'Montserrat';
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
  font-size: .8rem;
  font-weight: 900;
  padding-top: 12px;
  height: 45px;
  background-color: rgba(8, 91, 146, 0.925);
}